
<section class="doodle-page">
  
  <div class="doodle-container">

    <mat-toolbar>
      <h3>Calendr</h3>
      <span class="example-spacer"></span>
      <button class="btns" mat-stroked-button>
        <mat-icon>account_circle</mat-icon>
        Sign up
      </button>
      
      <button class="btns" mat-stroked-button>
        <mat-icon>lock</mat-icon>
        Log in
      </button>
    </mat-toolbar>

    <div class="step-container">

      <router-outlet></router-outlet>
      
    </div>

  </div>
  
</section>