.doodle-page {
    background-color: rgba(11, 11, 11, 0);
    box-shadow: 0 0 3px 0px gray;
    width: 76%;
    position: absolute;
    top: 13px;
    left: 12%;
}

.doodle-container {
    // background-color: burlywood;
    // width: 96%;
    margin: auto;
}

.mat-toolbar {
    background-color: #fff;
}

.example-spacer {
    flex: 1 1 auto;
}

.mat-toolbar h3 {
    color: #673ab7;
    font-weight: 800;
    font-size: 18pt;
}

.mat-toolbar .btns {
    margin-left: 8px;
}

.step-container {
    margin: 0 0 40px 0;
    // background-color: rgb(180, 180, 180);
}

