<div class="step-title">
    <span>STEP 4 OF 4</span>
    <h4>Tell your participants who you are</h4>
</div>

<div class="step-content">

    <mat-form-field class="example-full-width">
        <mat-icon matPrefix>account_circle</mat-icon>
        <mat-label>Name</mat-label>
        <input type="text" matInput placeholder="Name">
    </mat-form-field>
    
    <mat-form-field class="example-full-width">
        <mat-icon matPrefix>email</mat-icon>
        <mat-label> Email </mat-label>
        <input type="text" matInput placeholder="Email">
    </mat-form-field>

</div>

<div class="doodle-router">
    <button mat-flat-button color="primary">Finish</button>
    <button mat-stroked-button routerLink="/create/settings">
        <mat-icon>navigate_before</mat-icon>
    </button>
</div>